<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="Footer">
      <div class="footerList">
        <div class="footerListCon1">
          <ul>
            <li>footerLink</li>
            <li>footerLink</li>
            <li>footerLink</li>
            <li>footerLink</li>
          </ul>
          </div>
          <div class="footerListCon2">
            <ul>
              <li>footerLink</li>
              <li>footerLink</li>
              <li>footerLink</li>
              <li>footerLink</li>
            </ul>
          </div>
          <div class="footerListCon3">
            <ul>
              <li>footerLink</li>
              <li>footerLink</li>
              <li>footerLink</li>
              <li>footerLink</li>
            </ul>
          </div>
        </div>
        <a
        href="https://www.flaticon.com/free-icons/credit-card"
        title="credit card icons"
        >Credit card icons created by Freepik - Flaticon</a
      >
      </div>
 
    </div>
  </body>
</html>
