<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <div class="Footer">
      <div class="footerList">
        <div class="footerListCon1">
          <ul>
            <li>About Contact</li>
            <li>Support Centre</li>
            <li>Large Businesses</li>
            <li>We care</li>
          </ul>
        </div>
        <div class="footerListCon2">
          <ul>
            <li>Estimate your costs</li>
            <li>Partners</li>
            <li>Developers</li>
            <li>Bug Bounty Program</li>
          </ul>
        </div>
        <div class="footerListCon3">
          <ul>
            <li>Card Machines for Business</li>
            <li>Take Card Payments</li>
            <li>Jobs</li>
            <li>Handbook</li>
          </ul>
        </div>
      </div>
      <a
        href="https://www.flaticon.com/free-icons/credit-card"
        title="credit card icons"
        >Credit card icons created by Freepik - Flaticon</a
      >
    </div>
  </body>
</html>
