<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div class="Header">
      <div class="HeaderContainerOne"></div>
      <div class="HeaderContainertwo">
        <nav>
          <ul>
            <li><a href="/">XYLO</a></li>
            <li><a href="/Products">Products</a></li>
            <li><a href="/Pricing">Pricing</a></li>
            <li><a href="/Shop">Shop</a></li></li>
          </ul>
        </nav>
      </div>
      <div class="HeaderContainerfour">
        <nav>
          <ul>

            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
