<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="PricingCon">
      <div class="PricingItem1">
        <h2 class="TitleCenter">Pay as you grow</h2>
        <img src="/img/Pricing_4.jpg" />
        <p>
          Find the perfect pricing solution for all your POS systems, card
          readers, and business devices – tailored to fit your needs.
        </p>
      </div>
      <div class="PricingItem2">
        <div>
          <img src="/img/Pricing_3.png" />
          <h3>Customer support</h3>
          <p>
            Benefit from exceptional customer support through our third-party
            vendor, ensuring smooth setup, troubleshooting, and ongoing
            assistance for all your POS systems, card readers, and business
            devices, saving you time and hassle.
          </p>
        </div>
        <div>
          <img src="/img/Pricing_1.png" />
          <h3>Save time & money</h3>
          <p>
            Save time and money by relying on our trusted third-party vendor for
            premium POS systems, card readers, and business devices, all
            designed to enhance efficiency while reducing costs as your
            operations grow.
          </p>
        </div>

        <div>
          <img src="/img/Pricing_2.png" />
          <h3>Pay-as-you-grow</h3>
          <p>
            Pay-as-you-grow, enjoy flexible access to extra features and
            support, with the freedom to choose between monthly or annual
            contracts that can be canceled anytime—ensuring you only pay for
            what you need as your business expands.
          </p>
        </div>
      </div>
      <div class="PricingItem3">
        <h2 class="TitleCenter">Our Pricing</h2>
        <div>
          <div class="RateCard">
            <h3>Starter</h3>
            <p>
              This plan is designed for small businesses or startups that need
              basic tools to get started.
            </p>
            <ul>
              <li>Up to 50 Transactions/Day</li>
              <li>Basic Transaction Fees: 2.9% + £0.30 per transaction</li>
              <li>Limited Support for 1 Software</li>
              <li>Basic Customer Support</li>
              <li>Basic Reporting & Analytics</li>
              <li>Limited Customization Options for POS interface</li>
              <li>1 User Access (Owner/Admin)</li>
              <li>Inventory Management</li>
              <li>Email Invoicing & Receipts</li>
              <li>Mobile App Integration</li>
            </ul>
            <h4>£49.00</h4>
            <a class="btn" href="/ContactSales">Contact Sales</a>
          </div>

          <div class="RateCard">
            <h3>Pro</h3>
            <p>
              This plan caters to growing businesses that need more advanced
              functionality.
            </p>
            <ul>
              <li>Every benefit included in the Starter Plan</li>
              <li>Up to 200 Transactions/Day</li>
              <li>Reduced Transaction Fees</li>
              <li>Software Support for 3 Platforms</li>
              <li>Priority Customer Support</li>
              <li>Advanced Reporting & Analytics</li>
              <li>Moderate Customization Options</li>
              <li>5 User Accesses</li>
              <li>Loyalty Program Integration</li>
              <li>Discounted Add-ons</li>
            </ul>
            <h4>£79.00</h4>
            <a class="btn" href="/ContactSales">Contact Sales</a>
          </div>

          <div class="RateCard">
            <h3>Unlimted</h3>
            <p>
              Premium option for large enterprises or Smb needing unlimited
              access and full customization.
            </p>

            <ul>
              <li>Every benefit included in the Starter and Pro Plan</li>
              <li>Unlimited Transactions</li>
              <li>Lowest Transaction Fees</li>
              <li>Full Software Suite Support</li>
              <li>Dedicated Customer Success Manager</li>
              <li>Full Customization of Software and Hardware</li>
              <li>Advanced Security & Compliance</li>
              <li>Unlimited User Access</li>
              <li>Full Reporting Suite</li>
              <li>No Add-on Fees</li>
            </ul>
            <h4>£99.00</h4>
            <a class="btn" href="/ContactSales">Contact Sales</a>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
