<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="PricingCon">
      <div class="PricingItem1">
        <h2>Pay as you grow</h2>
        <p>
          Find the perfect pricing solution for all your POS systems, card
          readers, and business devices – tailored to fit your needs.
        </p>
        <div class="TrustPilot">
          <h2>Great</h2>
          <img src="/img/trustPilot_1.png" alt="industry Review" />
          <h2>5 out of 5 based on 30,234 reviews</h2>
          <img src="/img/trustPilot_2.png" alt="industry Review" />
        </div>
      </div>
      <div class="PricingItem2">
        <div>
          <img src="/img/Pricing_3.png" />
          <h3>Customer support</h3>
          <p>
            Benefit from exceptional customer support through our third-party
            vendor, ensuring smooth setup, troubleshooting, and ongoing
            assistance for all your POS systems, card readers, and business
            devices, saving you time and hassle.
          </p>
        </div>
        <div>
          <img src="/img/Pricing_1.png" />
          <h3>Save time & money</h3>
          <p>
            Save time and money by relying on our trusted third-party vendor for
            premium POS systems, card readers, and business devices, all
            designed to enhance efficiency while reducing costs as your
            operations grow.
          </p>
        </div>

        <div>
          <img src="/img/Pricing_2.png" />
          <h3>Pay-as-you-grow</h3>
          <p>
            Pay-as-you-grow, enjoy flexible access to extra features and
            support, with the freedom to choose between monthly or annual
            contracts that can be canceled anytime—ensuring you only pay for
            what you need as your business expands.
          </p>
        </div>
      </div>
      <div class="PricingItem3">
        <h2>Our Pricing</h2>
        <div>
          <div class="RateCard">
            <h3>Starter</h3>
            <p>
              SELLING RATE CARD Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cupiditate, quasi.
            </p>
            <hr />
            <h4>£49.00</h4>
            <hr />
            <ul>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
            </ul>
          </div>

          <div class="RateCard">
            <h3>Pro</h3>
            <p>
              SELLING RATE CARD Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cupiditate, quasi.
            </p>
            <hr />
            <h4>£79.00</h4>
            <hr />
            <ul>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
            </ul>
          </div>

          <div class="RateCard">
            <h3>Unlimted</h3>
            <p>
              SELLING RATE CARD Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Cupiditate, quasi.
            </p>
            <hr />
            <h4>£99.00</h4>
            <hr />
            <ul>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
              <li>Feauter</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
