<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="ShopCart">
      <form action="/Cart" method="GET">
        <button type="submit">Go to Cart</button>
      </form>
      <h2>Total:£<%=locals.CartTotal %></h2>
    </div>
    <div class="ShopTitle">
      <h1>Select Your Products</h1>
    </div>
    <div class="ShopCon">
      <div class="ShopItem1">
        <div>
          <img src="/img/ProductPos_1.webp" />
          <h2>TransactPro</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="0" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ShopItem2">
        <div>
          <img src="/img/ProductCardReader_2.webp" />
          <h2>SwipeEase</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="1" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ShopItem3">
        <div>
          <img src="/img/ProductSelfService_3.webp" />
          <h2>SelfServePro</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="2" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ShopItem4">
        <div>
          <img src="/img/ProductSelfService_3.webp" />
          <h2>SelfServePro</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="3" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ShopItem5">
        <div>
          <img src="/img/ProductSelfService_3.webp" />
          <h2>SelfServePro5000</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="4" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="ShopItem6">
        <div>
          <img src="/img/ProductSelfService_3.webp" />
          <h2>SelfServePro</h2>
          <h3>£39</h3>
          <div>
            <form action="/basket" method="POST">
              <input type="hidden" name="id" value="5" />
              <button type="submit" value="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
